[package]
edition = "2018"
authors = ["Adnan Ademovic <adnanademovic100@gmail.com>"]
description = "Message generation for rosrust"
license = "MIT"
name = "rosrust_codegen"
readme = "README.md"
repository = "https://github.com/adnanademovic/rosrust"
version = "0.9.0"

[dependencies]
error-chain = "0.12.1"
lazy_static = "1.4.0"
regex = "1.3.1"
quote = "1.0.2"
syn = "1.0.7"
proc-macro2 = "1.0.6"
digest = "0.8.1"
md-5 = "0.8.0"
hex = "0.4.0"

[lib]
proc-macro = true
